/*Blocks style config*/
.navbar{
    background-color: lightcoral;
}
.navbar .navbar-brand{
    font-size: 35px;
}
.navbar .navbar-collapse .nav-link{
    font-size: 20px;
}
.navbar-collapse {
    justify-content: end;
}
/*Heder configurer*/
hr{
    color: red;
}