/*Blocks style config*/
.navbar{
    background-color: lightcoral;
}
.navbar .navbar-brand{
    font-size: 35px;
}
.navbar .navbar-collapse .nav-link{
    font-size: 20px;
}
.navbar-collapse {
    justify-content: end;
}
/*Heder configurer*/
hr{
    color: red;
}

/*Book zone*/
.main-book{
    margin-top:50px;
    display: flex;
    height: 800px;
}
.filter-zone{
    text-align: center;
    width: 450px;
    border-right: red dashed 1px;
}
.book-zone{
    margin-left: 40px;
}
.card{
    height: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.title-books{
    display: flex;
}